.Section {
    box-sizing:border-box;
    display: inline-block;
    clear: both;
    width: 100%;
    margin: 0;
    padding: 20px;
    position: relative;
}

.Section--bordered {
    border: 2.5px solid black;
    border-top: none;
}

.Section__header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.Section--half{
    width: 50%;
    
}
body {
    box-sizing: border-box;
    min-width: 300px;
    margin: 0;
}